.btn-get-started {
  border-radius: 28px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;

  padding: 12px 40px;
  color: white;
  background-color: #2bd0d0;
}
.btn-get-started:hover {
  background-color: #9ae3e3;
}
