footer {
  #footer-top {
    background-image: url("../../assets/images/purple-bg1.png");
    text-align: center;
    padding: 57px 0;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;
      margin-bottom: 32px;
    }
  }
  #footer-bottom {
    padding: 73px 165px 70px;
    background-color: #232127;
  }
}
